<p id="notice"><%= notice %></p>

<p>
  <strong>Date in:</strong>
  <%= @reservation.date_in %>
</p>

<p>
  <strong>Date out:</strong>
  <%= @reservation.date_out %>
</p>

<p>
  <strong>Made by:</strong>
  <%= @reservation.made_by %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @reservation.customer %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
